body{
  display: grid;
  grid-template-areas: 
  "intro intro"
  "section-1 section-1"
  "lands-text lands-text"
  "section-2 section-2"
  "section-3 section-3"
  "footer footer";
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  color: #e7e7e7;
}
header{
  background-color: #353535;
  height: 65vh;
  grid-area: intro;
}
.image-intro{
  background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
  filter: blur(0.9px);
  background-attachment: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  height: 100%;
}
.intro{
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}
.intro a{
  background-color: #353535;
  color: #e7e7e7;
  text-decoration: none;
  margin-top: 20px;
  padding: 1em 2em;
  border: 1px solid #666;
  border-radius: 5px;
}
.section-1{
  flex-wrap: wrap;
  background-color: #e7e7e7;
  padding: 2em;
  color: #353535;
  grid-area: section-1;
}
.lands-text{
  display: flex;
  background-color: #353535;
  color: #353535;
  grid-area: lands-text;
}
.section-2{
  background-color: #e7e7e7;
  padding: 2em;
  color: #353535;
  grid-area: section-2;
}
.section-3{
  display: flex;
  width: 100%;
  grid-area: section-3;
}
.contact{
  display: block;
  background-color: #1687b4;
  width: 50%;
  padding: 2em;
}
.about{
  display: block;
  background-color: #353535;
  width: 50%;
  padding: 2em;
}
.text-1, .text-2, .text-3{
  background-color: #e7e7e7;
  width: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.text-1{
  margin-right: 25px;
  margin-left: auto;
}
.text-2{
  margin-right: 0;
  margin-left: 0;
}
.text-3{
  margin-right: auto;
  margin-left: 25px;
}
img{
  width: 100%;
  height: auto;
}
.footer{
  display: flex;
  background-color: #000000;
  padding: 1em;
  grid-area: footer;
}
.footer p{
  margin: auto;
}